/*BODY*/
h2 {
  text-align: center;
  font-style: italic;
  color: #DE0066;
  text-decoration: underline;
}

#conteneur{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#primero {
  background-color: #E6D2E0;
  margin-bottom: 10px;
  border: 4px solid #842167;
  border-radius: 5px;
  margin-top: 10px;
  display:flex;
  text-decoration:none;
  color: black;
  margin-top: 20px;
}

#segundo {
  background-color: #E6D2E0;
  margin-bottom: 10px;
  border: 4px solid #842167;
  border-radius: 5px;
  display:flex;
  text-decoration: none;
  color: black;
}

#tercero {
  background-color: #E6D2E0;
  margin-bottom: 10px;
  border: 4px solid #842167;
  border-radius: 5px;
  display:flex;
  text-decoration:none;
  color: black;
}

.list{
  margin-left: 100px;
  width: 380px;
}

.name {
  margin-left: 50px;
  width: 210px;
}

em {
  color: green;
  font-style: italic;
}

.price{
  margin-left: 180px;
  font-weight: bold;
  font-size: 18px;
}

/* HEADER */
header {
  display: inline-block;
  border-bottom: 10px solid #842167;
}

img {
  height: 150px;
  width: 250px;
  display: inline-block;
}

#myInput {
  margin-left: 80px;
  height: 30px;
  width: 280px;
  border-radius: 12px;
  border: 2px solid #842167;
  background-color: #DDDDDD;
  display: inline-block;
  margin-top: 0;
}

#search {
  height: 25px;
  width: 25px;
  margin-top: 60px;
}

div {
  height: 30px;
  display: inline-block;
  width: 600px;
  margin-top: 0;
}

div ul li {
  display: inline-block;
}

#header {
  list-style-type: none;
  display: inline-block;
}

#truck {
  height: 30px;
  width: 30px;
  margin-top: 15px;
  margin-left: 50px;
}

#return {
  height: 30px;
  width: 30px;
  margin-top: 15px;
  margin-left: 20px;
}

/* MENU DEROULANT HEADER*/
nav {
  margin-top: 70px;
  width: 500px;
  display: inline-block;
  float: right;
  color : #551A8B;
}

nav ul li {
  display: inline-block;
}

nav ul {
  width: 100%;
}

nav a {
  text-decoration: none;
  text-align:center;
  padding:5px;
  border:2px solid;
}

nav ul ul {
  display: none;
  padding: 0;
  margin: 0;
  position: absolute;
}


nav ul ul li {
  margin: 8px;
  width: 200px;
}

nav li {
  list-style-type: none;
  margin-left:2px;
  position: relative;
}

nav li:hover ul, li li:hover ul {
  display: block;
}

/* FOOTER */
footer {
  margin-bottom: 0;
  display: inline-block;
  border-top: 10px solid #842167;
  width: 100%;
  margin-top: 10px;
}

#one {
  margin-left: 800px;
  margin-right: 20px;
}

footer a {
  color: #9F2F8B;

}
